<div class="p-12 flex flex-col ">

    <p class="text-vermelho text-[5em] text-center mb-10 ">Valorant+</p>

<div class="flex gap-4 justify-center mb-4 ">
  
    <button (click)="filtrarWeapons()" class="text-[#fff] w-60 h-fit hover:bg-verde hover:bg-opacity-60 hover:border-verde text-4xl border p-4 rounded-md">Weapon</button>
    <button class="text-[#fff] hover:bg-verde hover:bg-opacity-60  h-fit w-60 hover:border-verde text-4xl border p-4 rounded-md" (click)="filtrarSkins()">Skins</button> 
</div>
       
    <div *ngIf="resultadoWeapons"   class="  bg-[#fff] h-[80vh]  rounded-2xl bg-opacity-30 p-4  grid grid-cols-4 gap-8 overflow-auto">
      <div *ngFor="let arma of armas" class="border rounded-md border-[#fff] h-48 p-4 flex flex-col justify-center gap-4 hover:border-verde hover:bg-verde hover:bg-opacity-60 ">
        <img class="flex justify-center h-[70%]" src="{{arma.displayIcon}}" alt="" >
       <div class="text-[#fff] text-sm">
        <p class="">Arma: {{arma.displayName}}</p>
        <p>Categoria: {{arma.category}}</p>
       </div> 
      </div>
    

        <div *ngFor="let skin of skins" class="border rounded-md border-[#fff] h-48 p-4 flex flex-col justify-center gap-4 hover:border-verde hover:bg-verde hover:bg-opacity-60 ">
            <img class="flex justify-center h-[70%]" src="{{skin.displayIcon}}" alt="" >
           <div class="text-[#fff] text-sm">
            <p class="">Nome: {{skin.displayName}}</p>
           </div> 
          </div>

    </div>

    <div *ngIf="resultadoSkin"   class="  bg-[#fff] h-[80vh]  rounded-2xl bg-opacity-30 p-4  grid grid-cols-3 gap-8 overflow-auto">
        <div *ngFor="let skin of filtragemSkin" class="border rounded-md border-[#fff] h-48 p-4 flex flex-col justify-center gap-4 hover:border-verde hover:bg-verde hover:bg-opacity-60 ">
            
            <img class="flex justify-center h-[70%]" src="{{skin.displayIcon}}" alt="" >
         <div class="text-[#fff] text-sm">
          <p class="">Name: {{skin.displayName}}</p>
          <p *ngIf="skin.weapon" >Arma: {{skin.weapon.displayName}} <img *ngIf="skin?.tier" src="{{skin.tier.displayIcon}}" class="float-right w-8" alt=""></p>
         </div> 
        </div>
  
      </div>
</div>
