<form [formGroup]="form">
   
          <div class="grid grid-cols-2 gap-4 my-4">
    
              <mat-form-field  class="font-padrao mb-[-1.25em]" appearance="outline">
                <mat-label class="font-padrao">Skip</mat-label>
                <input  type="number" formControlName="skip"  matInput>
                
              </mat-form-field>

              <mat-form-field  class="font-padrao mb-[-1.25em]" appearance="outline">
                <mat-label class="font-padrao">Take</mat-label>
                <input  type="number"  formControlName="take"  matInput>
                
              </mat-form-field>
            
            
        </div>
    
</form>
