<div class="flex flex-col justify-center  py-10 m-0">
    <p class="text-vermelho text-center text-5xl">Graficos</p>

    <div class=" mt-8">
        <div class="flex justify-center items-center gap-6">
            <p class="text-center text-3xl text-[#fff]">Skins de Armas</p>
            <mat-form-field  class="w-40">
                <mat-label class=" font-padrao">Filtrar</mat-label>
                <mat-select class="font-padrao" [formControl]="selecaoArmasControl"  (selectionChange)="filtrarArmas()" multiple>
                  <mat-select-trigger class="font-padrao">
                    {{selecaoArmasControl.value?.[0] || ''}}
                    <span  *ngIf="(selecaoArmasControl.value?.length || 0) > 1" class=" font-padrao">
                      (+{{(selecaoArmasControl.value?.length || 0) - 1}} {{selecaoArmasControl.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let arma of selecaoArmas" [value]="arma"><p class="font-padrao">{{arma}}</p></mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="bg-verde mx-36 bg-opacity-40 rounded-2xl py-10 flex justify-center">
          <ngx-charts-bar-vertical
          [view]="[1000,0]"
          [scheme]="'fire'"
          [results]="armas"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="'Armas'"
          [yAxisLabel]="'Quantidade'"
          (select)="false">
        </ngx-charts-bar-vertical>
        </div>
        
    </div>
    <div class="flex justify-around my-20">
        <div>
            <div class="flex justify-center items-center gap-6">
                <p class="text-center font-padrao text-3xl text-[#fff]">Rewards</p>
                <mat-form-field class="w-40 font-padrao">
                    <mat-label class=" font-padrao">Filtrar</mat-label>
                    <mat-select class="rounded-xl font-padrao" [formControl]="rewardsControl" (selectionChange)="filtrarRewards()" multiple>
                      <mat-select-trigger class="font-padrao">
                        {{rewardsControl.value?.[0] || ''}}
                        <span  *ngIf="(rewardsControl.value?.length || 0) > 1" class="font-padrao">
                          (+{{(rewardsControl.value?.length || 0) - 1}} {{rewardsControl.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                      </mat-select-trigger>
                      <mat-option class="font-padrao" *ngFor="let rewards of selecaoReawards" [value]="rewards"><p class="font-padrao">{{rewards}}</p></mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="bg-verde bg-opacity-40 rounded-2xl py-10 flex  justify-center">
            <ngx-charts-pie-chart
            [view]="[0,0]"
            [scheme]="'fire'"
            [results]="rewards"
            [gradient]="gradient"
            [legend]="showLegend"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
            (select)="false"
            (activate)="false"
            (deactivate)="false"
            >
          </ngx-charts-pie-chart>
        </div>
      </div>

      <div>
        <div class="flex justify-center items-center gap-6">
         <p class="text-center font-padrao text-3xl h-20 flex items-center text-[#fff]">Roles de Agentes</p>
    
        </div>
        <div class="bg-verde bg-opacity-40 rounded-2xl py-10 flex  justify-center">
            <ngx-charts-number-card
            [view]="[0,0]"
            [scheme]="'fire'"
            [results]="agents"
            [cardColor]="cardColor"
            (select)="false">
          </ngx-charts-number-card>
        </div>
      </div>

    </div>


    <div>
        <div class="flex justify-center items-center gap-6">
            <p class="text-center text-3xl text-[#fff]">Quantidade de Xps</p>
            <mat-form-field class="w-40" >
                <mat-label class=" font-padrao">Filtrar</mat-label>
                <mat-select class="font-padrao" [formControl]="xpsControl" (selectionChange)="filtrarXps()"  >
                  <mat-option *ngFor="let contratos of selecaoContratos" [value]="contratos"><p class="font-padrao">{{contratos}}</p></mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="bg-verde mx-56 bg-opacity-40 rounded-2xl  flex justify-center">
            <ngx-charts-advanced-pie-chart
            [view]="[800,0]"
            [scheme]="'fire'"
            [results]="xps"
            [gradient]="gradient"
            (select)="false"
            (activate)="false"
            (deactivate)="false"
            >
          </ngx-charts-advanced-pie-chart>
        </div>
        
    </div>

    
   




  
</div>
