@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }

@font-face {
    font-family: 'font-padrao';
    src: url('./assets/fonts/fonte.ttf') format('truetype');
  }

body { margin: 0; font-family:  "font-padrao", sans-serif; }

::-webkit-scrollbar {
  width: 5px; /* Largura da barra de rolagem */
  --tw-bg-opacity: 0.4;
  border-radius: 10px;
  background-color: none; /* Cor de fundo da barra de rolagem */
}

/* Cor do preenchimento da barra de rolagem */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  --tw-bg-opacity: 0.5;
  background-color: rgb(85 198 176 / var(--tw-bg-opacity));
}

/* Estilo do canto da barra de rolagem */
::-webkit-scrollbar-corner {
  --tw-bg-opacity: 0.4;
  background-color: none; /* Cor de fundo do canto da barra de rolagem */
}